#nvlkneug2dc_ss {
  h2 {
    font-size: var(--h2);
  }
  .box {
    display: flex;
    gap: 50px;
  }

  .img_box {
    width: 600px;
    img {
      width: 100%;
    }
  }
  .txt_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      font-family: "Pretender";
      font-size: 20px;
    }
  }

  @media (max-width: 800px) {
    .box {
      flex-direction: column;
    }
    .img_box {
      width: 100% !important;
    }
  }
}
